@use '../_base.scss';


@mixin review-box {
    font-weight: 400;
    background-color: #7D9D9C;
    margin-bottom: 1.6rem;
    padding: 1.5rem;
}

@mixin margin-boxes {
    margin: 4rem 10rem 10rem 14rem;
}

.info-flex-container {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #E4DCCF;
}

.info-adopt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10vw;
  
}    
.title-review{
    margin: 5vw;
    text-align: center
}

.reviews {
    @include review-box;

}

.title-review {
    font-weight: 700;
    font-size: 24px;
}

