@use '../_base.scss';

.textWrapper {
  text-align: center;
  padding-bottom: 20px;
  @include base.contentWidth;
  
  h1, p {
    padding: 20px 0;
  }
}

.landingPageWrapper {
  @include base.contentWidth;
}