
.animal-info{
    background-color: #7D9D9C;
    width: 100%;
    .animal-card{
        padding: 5vw ;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        background-color: #576F72;
        
    }
}

.animal-img{
    margin: 0px 25px 25px 25px;
    background-color: aliceblue;
    text-align: center;
    box-shadow: 4px 0px 10px black;
    height: 20rem;
    

    img{
        height: 91.5%;
        width: 100%;
        object-fit: cover;
    }
    
}

.animal-desc{
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 20rem;
    height: 20rem;
    text-align: center;
    box-shadow: 4px 0px 10px black;
    padding: 5px 25px 25px 25px;
    margin-bottom: 5vh;
    h3{
        padding-bottom: 10px;
    }
}


.animal-stats{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px 15px;
    width: 20rem;

    .stats-value{
        background-color: #F0EBE3;
        color: black;
        width: 60vw;
        text-align: left;
    }
}

tbody{
    border-spacing: 0px 0.5rem;
}
td{
    background-color: #7D9D9C;
    color: white;
    padding: 14px;
    width: 50vw;
    text-align: center;
}

.arrow{
    margin-top: -2.3vh;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 4px 15px 10px #576F72; 
    margin-bottom: 5vh;
    
    .arrow-shape{
        width: 0;
        height: 0;
        border-top: 20vh solid #576F72;
        border-left: 45vw solid transparent;
        border-right: 45vw solid transparent; 
        
    }
}
