.forum-container{
    padding: 5vh 5vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
    
    
}
// This code affects the whole project, please don't do this.
// form{
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     justify-content: center;
//     width: 750px;
// }
// h1{
//     margin-bottom: 5vh;
//     text-align: center;
// }
// label{
//     background-color: #576F72;
//     font-size: 20px;
//     padding: 5px;
//     margin-top: 5px;
//     width: 100%;
//     color: white;
//     text-align: center;    
// }

// input{
//     width: 100%;
//     height: 5vh;
//     margin-bottom: 5vh;
// }

// textarea{
//     width: 100%;
//     margin-bottom: 5vh;
    
// }

.submit-btn{
    justify-self: center;
    padding: 20px;
}