@use '../_base.scss';

.animal-info{
    .animal-card{
        padding: 5vw ;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        background-color: base.$clr-accent;
    }
}

.animal-img{
    margin: 0px 25px 25px 25px;
    background-color: base.$clr-bg-focus;
    text-align: center;
    box-shadow: base.$shadow;
    height: 20rem;
    

    img{
        height: 91.5%;
        width: 100%;
        object-fit: cover;
    }
    
}

.animal-desc{
    justify-content: center;
    background-color: base.$clr-bg-focus;
    width: 20rem;
    height: 20rem;
    text-align: center;
    box-shadow: base.$shadow;
    padding: 5px 25px 25px 25px;
    margin-bottom: 5vh;
    h3{
        padding-bottom: 10px;
    }
}


.animal-stats{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px 15px;
    width: 20rem;

    .stats-value{
        background-color: base.$clr-bg-focus;
        color: base.$clr-font;
    }
}

tbody{
    border-spacing: 0px 0.5rem;
}
td{
    background-color: base.$clr-accent-focus;
    color: white;
    padding: 10px;
    width: 50vw;
    text-align: center;
}

.arrow{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    
    .arrow-shape{
        width: 0;
        height: 0;
        border-top: 5vh solid base.$clr-accent;
        border-left: 48vw solid transparent;
        border-right: 48vw solid transparent; 
        
    }
}
