
.animal-info{
    background-color: #7D9D9C;

    .animal-card{
        padding: 5vw ;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        
    }
}

.animal-img{
    margin: 0px 25px 25px 25px;
    background-color: aliceblue;
    text-align: center;
    box-shadow: 4px 0px 10px black;
    height: 20rem;

    img{
        height: 91.5%;
        width: 20rem;
        object-fit: cover;
    }
    
}

.animal-desc{
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 20rem;
    height: 20rem;
    text-align: center;
    box-shadow: 4px 0px 10px black;
    padding: 5px 25px 25px 25px;
    margin-bottom: 5vh;
    h3{
        padding-bottom: 10px;
    }
}


.animal-stats{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 25px;
    width: 20rem;

    .stats-value{
        background-color: #F0EBE3;
        color: black;
        width: 50vw;
        text-align: center;
    }
}
tr{
    border-spacing: 0px 5px;
}
td{
    background-color: #576F72;
    color: white;
    padding: 14px;
    width: 50vw;
    text-align: center;
}
/* .animal-stats{
    margin: 0px 25px 25px 25px;
    height: 2rem;
    display: flex;
    flex-direction: row;
    background-color: #7D9D9C;
    flex-wrap: wrap;
    .dark-h4{
        padding: 5px;
        width: 70px;
        background-color: #576F72;
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .light-h4{
        padding: 5px;
        width: 70px;
        background-color: whitesmoke;
        justify-content: center;
        text-align: center;
    }
} */

