@use '../_base.scss';

$footerBg: #F0EBE3;
$footerClr: #000;
$icon-height: 50px;
$icon-weight: 50px;


.footer {
    width: 100%;
    margin-top: auto;
    padding: 30px 15px;
    background-color: base.$clr-bg-focus;
    color: base.$clr-font;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fa {
    font-size: 2em;
    height: 2.5rem;
    width: 2.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    margin: 2vw;
    background-color: base.$clr-font;
    color: base.$clr-bg-focus;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        opacity: 0.7;
        background-color: base.$clr-bg-focus;
        color: base.$clr-font;
        border: 1px solid base.$clr-font;
    }
}

.socialMedia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.headline {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0.5rem;
}

.ul__footer {
    list-style-type: none;
    cursor: pointer;
    li:hover {
        text-decoration:underline;
    }
}