@use  "/src/_animation.scss";
.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: #000000af;
    
}


.modal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: #f0ebe3;
    border-radius: 15px;
    width: 85%;
    height: 50%;
    @include animation.Bounce-up;
    .modal-h1{
        font-size: larger;
    }
    .modal-button{
        font-size: 16px;
        font-weight: bold;
        padding: 15px;
    }
    
}
