@use '../base';

.search {
  background-color: base.$clr-accent-focus;
  padding: 10px;
  margin: 20px auto;
  border-radius: base.$radius;

  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  
  select {
    height: 27px;
  }
  input {
    height: 27px;
    padding: 0 5px;
    border-radius: 20px;
  }
}



.switchBox {
  position: relative;
  display: inline-block;
  width: 119px;
  height: 27px;
  border: 1px solid gray;
  border-radius: base.$radius;
    input { 
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .slider {
        background-color: #fff;
      }
      
      &:focus + .slider {
        border-radius: base.$radius;
        box-shadow: 0 0 0 2px black, 0 0 0 3px white;
      }
      
      &:checked + .slider:before {
        transform: translateX(70px);
        width: 47px;
        border-radius: 0.8rem base.$radius base.$radius 0.8rem;
      }
    }
}

.slider {
  user-select: none;
  position: absolute;
  cursor: pointer;
  padding: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 77px;
  border: base.$borderStyle;
  border-radius: base.$radius 0.8rem 0.8rem base.$radius;
  left: -1px;
  bottom: -1px;
  background-color: #cad5d6;
  transition: .4s;
}