@use '../base';

.search {
  background-color: base.$clr-accent-focus;
  padding: 10px;
  margin: 20px auto;
  border-radius: base.$radius;

  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  select, input {
    height: 27px;
  }
}

.switchBox {
  position: relative;
  display: inline-block;
  width: 119px;
  height: 27px;
  border: 1px solid gray;
  border-radius: base.$radius;
    input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
}

.slider {
  user-select: none;
  position: absolute;
  cursor: pointer;
  padding: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(106, 179, 63);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 40px;
  border: base.$borderStyle;
  border-radius: base.$radius 0.8rem 0.8rem base.$radius;
  left: -1px;
  bottom: -1px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c2c2c2;
}

input:focus + .slider {
  border-radius: base.$radius;
  box-shadow: 0 0 0 2px black, 0 0 0 3px white;
}

input:checked + .slider:before {
  transform: translateX(40px);
  width: 77px;
  border-radius: 0.8rem base.$radius base.$radius 0.8rem;
}
