
/*   color variables */
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-font: #1a1a1a;
$clr-bg-focus: #F0EBE3;
$clr-bg: #E4DCCF;
$clr-accent: #7D9D9C;
$clr-accent-focus: #576F72;

/*   border   */
$radius: 0.2rem;
$borderStyle: 1px solid gray;

