@use 'base';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: base.$clr-font;
  font-size: 14px;
  line-height: 1.75;
}

// because selections, inputs and buttons have special rules
select, input, button {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: base.$clr-font;
  font-size: 14px;
  border-radius: base.$radius;
  border: base.$borderStyle;
}

* h1 {
  size: 64px;
}

* h2 {
  size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

* h3 {
  size: 18px;
}

.App {
  width: 100%;
  height: 100%;
  background-color: base.$clr-bg;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
