@use 'base';

* {
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  size: 14px;
  color: base.$clr-font;
}

* h1 {
  size: 64px;
}

* h2 {
  size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}

* h3 {
  size: 18px;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: base.$clr-bg;
}